{% extends 'base.html' %}

{% block styles %}
{{super()}}
<style>
    .form-control {
        margin-bottom: 2rem;
        padding: 2rem;
        background-color: white;
    }

    .btn {
        background-color: white;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.5em;
        border: 2px solid black;
    }
</style>
{% endblock %}

{% block heading %}User Register{% endblock %}

{% block caption %}Already have an account? <a href="/login">Login</a>{% endblock %}

{% block flashMessage %}
{% for message in get_flashed_messages() %}
{{message}} <br />
{% endfor %}
{% endblock %}

{% block contentinside %}
<form class="form" action="/register" method="POST">
    <input class="form-control" name="fname" placeholder="First Name" />
    <input class="form-control" name="lname" placeholder="Last Name" />
    <input class="form-control" name="email" placeholder="Email" />
    <input class="form-control" type="password" name="password" placeholder="Password (atleast 8 characters)" />
    <input class="btn btn-block" type="submit" value="Register" />
</form>
{% endblock %}